.userItemContainer {
  min-width: 300px;

  max-width: 90vw;
  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.userAvatar {
  height: 100px;
  width: 100px;

  object-fit: cover;
  border-radius: 50%;
}
